<div class="container">
  <div class="row">
    <h3 class="center">Conócenos</h3> </br>
    <div class="col s3">
      <div class="row center">
        <%= image_tag("social-2.png", :alt=>"social", size:"120x120")%>
      </div>
      <div class="row">
        <h5 class="center">Social</h5>
        <p class="center">Pensamos primero en lograr un cambio en nuestra sociedad para poder beneficiar a todas esas personas con necesidad.</p>
      </div>
    </div>
    <div class="col s3">
      <div class="row center">
        <%= image_tag("cross.png", :alt=>"health", size:"120x120")%>
      </div>
      <div class="row">
        <h5 class="center">Salud</h5>
        <p class="center">Estamos enfocados en el sector de salud. Queremos eliminar el déficit de donantes de sangre permanentes en Honduras.</p>
      </div>
    </div>
    <div class="col s3">
      <div class="row center">
        <%= image_tag("computer.png", :alt=>"tech", size:"120x120")%>
      </div>
      <div class="row">
        <h5 class="center">Tecnología</h5>
        <p class="center">Estamos aprovechando la era digital utilizando las aplicaciones móviles para poder cumplir nuestra meta.</p>
      </div>
    </div>
    <div class="col s3">
      <div class="row center">
        <%= image_tag("coins.png", :alt=>"coins", size:"120x120")%>
      </div>
      <div class="row">
        <h5 class="center">Servicios</h5>
        <p class="center">Ofrcemos un servicio a los centros de salud para que sean parte de nuestra red y asi beneficiarlos a ellos y a todo el país.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="center">Quienes somos</h3>
    <p>BleedMe es un emprendimiento social, el cual tiene como objetivo ayudar a crear conciencia ante la problemática que se presenta
      en el país debido a la falta de donaciones. Bleed Me nace después de una experiencia en la cual unas personas tuvieron un accidente
      y necesitaban transfusiones de sangre. Al darnos cuenta que está en nuestras manos el poder de ayudar a salvar vidas,decidimos hacer
      conciencia ante la sociedad Hondureña para que ellos puedan ser parte de este cambio.</p>

  </div>
</div>
