</br>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">¿Por qué donar sangre?</a></li>
      <li class="tab col s3"><a href="#test2">¿Quién puede donar sangre?</a></li>
      <li class="tab col s3"><a href="#test3">El proceso de donación</a></li>
      <li class="tab col s3"><a href="#test4">Haga una cita</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <div class="container">
      <h3 class="center">¿Por qué donar sangre?</h3>
      <p></br>Donar sangre salva vidas. La sangre que uno dona es de una gran ayuda en una emergencia y para las personas que la necesitan en tratamientos largos. </br>
        Muchas personas no estarían vivas el dia de hoy si no hubieran personas que donan su sangre. </br> </br>
        <strong>¿Por que necesitamos que ustedes donen sangre?</strong></br>
        El banco de sangre de la Cruz Roja Hondureña está en emergencia por la falta de donantes. La poca captación afecta a los hospitales del país porque no
        tienen a quién más recurrir. El abastecimiento de la Cruz Roja es de menos de un 40%. </br></br>
        Para los hospitales como el Mario Catarino Rivas y el Instituto Hondureño de Seguridad Social, cada pinta de sangre pedida a la Cruz Roja tiene un costo aproximado
        de 3,000 lempiras, de los cuales el paciente no paga nada; pero debe enviar un donante para que el banco de sangre tenga reserva.</br></br>
        Las complicaciones para los hospitales de no tener la sangre son grandes: se les dificulta atender las emergencias que surgen en hospitalización y quirófano porque no
        pueden cubrir las necesidades y tienen pacientes que necesitan sangre con urgencia porque se están desangrando o sufren hemorragias internas. En el caso de las cirugías programadas
        también hay problemas porque el paciente no puede ser operado mientras no estén las pintas que requiere. </br>
      </p>

    </div>
  </div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
</div>
