<% if controller_name == "pages" %>
<footer class="light-blue page-footer">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <h5 class="white-text">Misión</h5>
        <p class="grey-text text-lighten-4">Concientizar a la población Hondureña sobre la escases de donantes a nivel nacional donde prácticamente cualquier
          persona puede ser donante o receptor, creando así oportunidades de vida para todas aquellas personas que se ven en una dificultad médica.</p>
      </div>
      <div class="col s4">
        <h5 class="white-text">Visión</h5>
        <p class="grey-text text-lighten-4">Bleed Me  liderará el camino de Honduras hacia el futuro de una contracultura brindando esperanza y  enriqueciendo vidas por medio de
          donaciones con los  métodos más seguros y responsables para las personas que las necesitan.</p>
      </div>
      <div class="col s4">
        <h5 class="white-text">Enlaces Legales</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#">Términos y Condiciones</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Póliza de Privacidad (Privacy Policy)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="height:60px;">
    <div class="container">
    Copyright © 2016 BleedMe. Todos los derechos reservados.
    <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/BleedMe-217927415225409/" style="padding-bottom:0;"><%= image_tag("facebook.png", :alt=>"facebook", size:"30x30")%></a>
    <a class="grey-text text-lighten-4 right" href="#!"><%= image_tag("twitter.png", :alt=>"twitter", size:"30x30")%></a>
    <a class="grey-text text-lighten-4 right" href="#!"><%= image_tag("instagram.png", :alt=>"instagram", size:"30x30")%></a>
    </div>
  </div>
</footer>
<% end %>
