<% if controller_name == "pages" %>
<footer class="light-blue page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Objetivo</h5>
        <p class="grey-text text-lighten-4">Nuestro objetivo es ayudar a crear conciencia ante la problemática que se presenta en Honduras debido a la falta de donaciones de sangre.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/BleedMe-217927415225409/">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.cruzroja.org.hn/">Cruz Roja hondureña</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright BleedMe
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
<% end %>
