<% if controller_name == "pages" && !user_signed_in?%>
    <nav>
      <div class="light-blue nav-wrapper">
        <a href="#" class="brand-logo center">BleedMe</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "Inicio", root_path %></li>
          <li><a href="badges.html">Información</a></li>
          <li><a href="collapsible.html">Ayuda</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">iPhone App</a></li>
          <li><a href="badges.html">Android App</a></li>
          <li><a href="collapsible.html">Legal</a></li>
          <li><%= link_to 'Iniciar Sesion', new_user_session_path, class:"pink"%></li>
        </ul>
      </div>
    </nav>
<% elsif user_signed_in? %>
  <nav>
    <div class="light-blue nav-wrapper">
      <a href="#" class="brand-logo center">BleedMe</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Timeline</a></li>
        <li><a href="#">Notificaciones</a></li>
        <li><a href="#">Mensajes</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Campañas</a></li>
        <li><%= link_to "Mi Perfil", profiles_path %></li>
        <li><a href="#">Post</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class:"lime") %></li>
      </ul>
    </div>
  </nav>
<%end%>
